/* AQUI PONGO MI FUENTE PERSONALIZADA DE MI CARPETA FONTS */
@font-face {
  font-family: "Arvo";
  src: url("../fonts/arvo/Arvo-Bold.ttf") format(".ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Arvo", Arial, sans-serif;
  background-color: #343a40;
  color: white;
}

header {
  background-image: url("../img/karate.jpg"); /* Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta correcta de tu imagen de fondo */
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 300px 0;
}

.titulo {
  font-size: 100px;
}

section {
  padding: 20px;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .aboutus {
  background-color: #b95a16;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 1200px;
  height: 650px;
  padding: 30px;
  color: white;
  border-radius: 30px;
} */

.aboutus2 {
  background-color: #ab201d;
  margin: 0 auto;
  text-align: center;
  /* margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 40px;*/
  padding: 60px;
  color: antiquewhite;
  border-radius: 50px;
}

.contenido {
  font-size: 18px;
}

#courses {
  color: black;
}

/* Agrega estilos para la clase bottom-footer */
.bottom-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.carrito {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
