@font-face {
  font-family: "Arvo";
  src: url("../fonts/arvo/Arvo-Bold.ttf") format(".ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Arvo", Arial, sans-serif;
  background-color: #343a40;
  color: white;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.botoninicio {
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}